#menu {
  background: #FFCC77;
  width: 100%;
  padding: 0;
  color: black;

  .range {
    max-width: 1200px;

    ul {
      background: #FFCC77;

      li {
        font-size: 18px;

        a {
          color: #51337c;

          &:hover {
            background: #dbb89a;
          }
        }
      }
    }
  }
}

.title-bar {
  display: none;
}

@media screen and (max-width: 40em) {
  .title-bar {
    background: #FFCC77;
    display: block;
  }

  .top-bar {
    display: none;

    li {
      display: inherit;
    }
  }
}
