<div class="column left-div" id="journey-show">
  <div class="row content align-spaced">
    <%= render partial: "story", collection: @stories, as: :story %>
  </div>
  <div class="comments">
    <div class="fb-comments" data-href="<%= request.original_url %>" data-width="100%" data-numposts="5"></div>
  </div>
</div>

