<div class="reveal row" id="story-reveal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="image column large-10 medium-12 small-12"></div>
  <div class="text column large-2 medium-12 small-12">
    <h2>note</h2>
    <p></p>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
