<div data-sticky-container id="menu">
  <div class="title-bar" data-sticky data-options="marginTop:0;">
    <div class="row align-center">
      <ul class="menu">
        <li class="menu-text">Itinerary</li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Me", "#" %></li>
        <li><%= link_to "About Website", "#" %></li>
        <li><a>Share</a></li>
        <%= render "layouts/user" %>
      </ul>
    </div>
  </div>
</div>
